@import "../../styles/variables.scss";

.quiz-wrapper {
  padding-bottom: 40px;
}

@media screen and (min-width: 1340px) {
  .quiz-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.quiz-title {
  margin-bottom: 40px;
  margin-top: 20px;
}

.question {
  border-radius: 15px;
  color: black;
}

.question-text,
.options,
.answers {
  background-color: white;
  border-radius: 15px;
  color: black;
  margin-bottom: 15px;
}

.quiz-completed {
  animation-duration: 0.7s;
  animation-name: slidein;
}

.option {
  margin-bottom: 15px;
  border: 2px solid rgb(226, 226, 226);
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  -webkit-tap-highlight-color: antiquewhite;
  font-weight: 600;
}
@media screen and (min-width: 820px) {
  .option:hover {
    cursor: pointer;
    background-color: antiquewhite;
  }
}
.option:active {
  background-color: antiquewhite;
  transform: scale(0.98);
}
.option-animate {
  animation-duration: 0.7s;
  animation-name: slidein;
}

.answer {
  margin-bottom: 15px;
  border-radius: 10px;
}

.option-answer-wrap {
  margin-left: 15px;
  margin-top: 15px;
}

.option-answer {
  margin-bottom: 10px;
  border: 1px solid lightgray;
  padding: 7px 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.chosen-answer {
  background-color: antiquewhite;
}

.correct-answer {
  margin-left: 50px;
  color: gray;
}

.quiz-container {
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .quiz-wrapper {
    padding-top: 20px;
  }
}

.reset-btn {
  padding: 12px 30px;
  color: white;
  background-color: $website-color-fade;
  margin-top: 20px;
  transition: 0.2s all ease;
  font-weight: 500;
}
.reset-btn:hover {
  background-color: $website-color;
  transform: scale(1.03);
}
@media screen and (max-width: 800px) {
  .reset-btn {
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 15px;
    opacity: 0;
  }

  to {
    margin-left: 0px;
    opacity: 1;
  }
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}
