@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.backdrop {
  background-color: rgba(0,0,0,0.5);
}


.profile-link .submenu{ 
  transition: ease-out 300ms;
}

.profile-link:hover .submenu{
  display: block;
}